In [8]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [9]:
df.shape

(887, 8)

In [10]:
sex = 'male'
p_class = 2

In [11]:
###EDA

###<li> Learn about odds of surival (deceased/survived) for given gender and class

In [14]:
    #create dataframe by given sex
    sex_df = df[df.Sex==sex]
    #create dataframe: filter on given p_class for given sex
    p_class_by_sex_df = sex_df[sex_df.Pclass==p_class]
    #create dataframe: survived 
    p_class_by_sex_df.head()
    #calculate the odds of survival for the given sex and p_class
    odds_of_survival = (p_class_by_sex_df.Survived.value_counts()[1]) / (p_class_by_sex_df.Survived.value_counts()[0])
    print (odds_of_survival)

0.18681318681318682